@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f9f9f9;
}

::selection{
    color: rgb(60, 39, 245);
    background: #f9f9f9;
}

.level1{
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}